html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    /* border: var(--elementBorder); */
    font-family: var(--fuentePrincipal), var(--fuenteSecundaria);
}

img {
    max-width: 100%;
}